<%- include header %>
<p class="info">
<p><%=book.bookName %></p>
   序号：<%=book.bookNumber %><br />
   书名：<%=book.bookName %><br />
   作者：<%=book.bookAuthor %><br />
   出版社：<%=book.bookPublish %><br />
   出版日期：<%=book.bookPubDate %><br />
</p>

<%- include footer %>